@import url('https://fonts.googleapis.com/css2?family=Hanalei&family=Inconsolata:wght@300&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #7d8da1;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: #7380ec;
    --color-success: rgb(34, 202, 75);
    --color-danger: #ff7782;;
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: #DBDEFA;
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);
    --color-border: rgba(132, 139, 200, 0.18);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --box-shadow: 0 2rem 3rem var(--color-border);
}

/* --------------DARK THEME-------------- */
.dark-theme {
    --color-white: #131316;
    --color-light: #23232a;
    --color-dark: #ddd;
    --color-gray-dark: #adacb5;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    appearance: none;
    box-sizing: border-box;
    letter-spacing: normal;
}

html {
    font-size: 14px;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    user-select: none;
    overflow-x: hidden;
    background: var(--color-light);
    font-family: poppins, sans-serif;
    color: var(--color-dark);
}

img {
    /* display: block; */
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

p {
    color: var(--color-gray-dark);
}

b {
    color: var(--color-dark);
}

small {
    font-size: 0.75rem;
}

.text-muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.warning {
    color: var(--color-warning);
}

.success {
    color: var(--color-success);
}

.purple {
    color: var(--color-purple);
}

.bg-primary {
    background: var(--color-primary);
}

.bg-danger {
    background: var(--color-danger);
}

.bg-success {
    background: var(--color-success);
}

.bg-purple {
    background: var(--color-purple);
}

.bg-dark {
    background: #27282f;
}

.bg-green {
    background: #15616D;
}

.profile-photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

/* ----------------------------NAV-------------------------------- */
nav {
    padding: 1rem 0;
    background: var(--color-white);
    width: 100%;
}

nav .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
}

nav .container .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav .container .logo img {
    width: 2.3rem;
    height: 2.3rem;
}

nav .container .search-bar {
    position: absolute;
    display: flex;
    align-items: center;
    left: 15%;
    width: 32vw;
    padding: var(--padding-2) var(--card-padding);
    background: var(--color-light);
    border-radius: var(--border-radius-2);
    display: flex;
    gap: 1rem;
}

nav .container .search-bar input[type="search"] {
    background: transparent;
    width: 100%;
    color: var(--color-dark);
}

nav .container .search-bar input[type="search"]::placeholder {
    color: var(--color-gray-dark);
}

nav .container .profile-area {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .container .profile-area .theme-btn {
    background: var(--color-light);
    border-radius: var(--border-radius-2);
    width: 4rem;
    height: 2rem;
    display: flex;
    color: var(--color-dark);
}

nav .profile-area .theme-btn span {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

nav .profile-area .theme-btn .active {
    background: var(--color-dark);
    color: var(--color-white);
    border-radius: var(--border-radius-2);
}

nav .container .profile-area .notifications {
    position: relative;
}

nav .container .profile-area .notifications span:not(.unread) {
    color: var(--color-gray-light);
}

nav .container .profile-area .notifications .unread {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: red;
    right: 2px;
    top: 1px;
}

nav .container .profile-area .profile {
    display: flex;
    gap: 1rem;
}

nav .container .profile-area button#menu-btn {
    display: none;
}

/* -------------------MAIN------------------ */
main {
    display: grid;
    grid-template-columns: 16rem auto;
}

/* -------------------ASIDE------------------ */
main aside {
    height: 88vh;
    /* gap: 2rem; */
    width: 96%;
    margin: 1rem auto 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main aside .sidebar {
    margin-left: 1rem;
}

main aside h3 {
    font-weight: 500;
}

main aside #close-btn {
    display: none;
}

main aside .sidebar a {
    display: flex;
    gap: 1.8rem;
    align-items: center;
    height: 3.7rem;
    columns: var(--color-gray-light);
    transition: all 300ms ease;
    color: var(--color-gray-light);
    margin-left: 2rem;
}

main aside .sidebar a:hover {
    color: var(--color-primary);
}

main aside .sidebar a span {
    font-size: 1.4rem;
    transition: all 300ms ease;
}

main aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar a.active {
    margin-left: 0;
    background: var(--color-white);
    color: var(--color-primary);
}

main aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}


main aside .sidebar a span.message {
    background: var(--color-danger);
    padding: 2px 10px;
    border-radius: 0.4rem;
    color: var(--color-white);
    font-size: 11px
}

main aside .sidebar a:last-child {
    position: fixed;
    bottom: 2rem;
    width: 100%;
}

/* -----------------------------------------RIGHT------------------------------------ */
main section.right {
    margin-top: 2rem;
    padding: 0 2rem;
}

/* -------------------TOP------------------ */
section.right .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.right .top h2 {
    font-size: 3rem;
    font-weight: 600;
}

section.right .widgets {
    display: flex;
    gap: 2rem;
}

section.right .widgets .download {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.6rem var(--card-padding);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    color: var(--color-gray-light);
}

section.right .widgets .dashlet {
    display: flex;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    padding: 0.6rem var(--card-padding);
    border-radius: var(--border-radius-2);
}

section.right .widgets .dashlet span {
    font-size: 1rem;
    color: var(--color-white);
}

section.right .widgets .dashlet p {
    color: var(--color-white);
}

/* -------------------CARDS------------------ */
main section.right .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

section.right .cards .card {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem; 
    height: 14rem;
    min-width: 18rem;  
    box-shadow: var(--box-shadow); 
    transition: all 300ms ease;
}

section.right .cards .card:hover {
    box-shadow: none;
}

section.right .cards .card .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section.right .card .top span{
    color: var(--color-primary);
    padding-top: 3px;
}
section.right .card .top span.danger {
    color: var(--color-danger);
}
section.right .card .top span.success {
    color: var(--color-success);
}
section.right .card .top span.banana {
    color: rgb(238, 220, 121);
}

section.right .card .bottom .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.right .bottom .progress-bar {
    position: relative;
    height: 5px;
    border-radius: 1rem;
    background: var(--color-gray-light);
    width: 80%;
}

section.right .bottom .progress-bar .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: 1rem;
    background: var(--color-primary);
    width: 70%;
}
section.right .bottom .progress-bar .bar.income {
    width: 22%;
    background: var(--color-danger);
}
section.right .bottom .progress-bar .bar.conversion {
    width: 78%;
    background: var(--color-success);
}
section.right .bottom .progress-bar .bar.campaign {
    width: 85%;
    background: rgb(238, 220, 121);
}

/* -------------------INSIGHTS------------------ */
main section.right .insights {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

section.right .insights .insight {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    min-width: 20rem;
    background: var(--color-white);
    transition: all 300ms ease;
    /* gap: 1rem; */
}

section.right .insights .insight:hover {
    box-shadow: none;
}

section.right .insights .insight .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section.right .insights .insight h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

section.right .insights .insight .doughnut {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.right .insight .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

section.right .insight .bottom .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

section.right .insight .bottom .left div {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

/* INCOME */
section.right .insight .bottom .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
}

section.right .insight .bar {
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;   
}


/* REVENUE */
section.right .insight.revenue {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: stretch; */
}

section.right .insight .tops {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.right .insight .tops .heading {
    display: flex;
    justify-content: space-between;
}

section.right .insight .line {
    position: relative;
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;   
}

/* -------------------PERFORMANCES------------------ */
main section.right .performances {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.performances .top-performance .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: var(--card-padding) var(--card-padding) 0 var(--card-padding);
    background: var(--color-white);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.performances .top-performance .top h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

main .performances table {
    background: var(--color-white);
    text-align: center;
    padding: var(--card-padding);
    width: 100%;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

main .performances table:hover {
    box-shadow: none;
}

main table tbody tr {
    background: var(--color-white);
    transition: all 300ms ease;
}

main table tbody tr:hover {
    background: var(--color-light);
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody td.ref {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

main table tbody tr:last-child td {
    border: none;
}

table > tbody > tr > td > img {
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    overflow: hidden;
}

/* -------------------TOP PRODUCTS------------------ */
section.right .performances .top-products .top > h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

section.right .performances .top-products {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

section.right .performances .top-products:hover {
    box-shadow: none;
}

section.right .top-products .product {
    display: flex;
    justify-content: space-between;
    transition: all 300ms ease;
}

section.right .top-products .product:hover {
    background: var(--color-light);
    padding-left: var(--padding-2);
}

section.right .top-products .product .photo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

section.right .top-products .product img {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 10px;
    overflow: hidden;
   
}

section.right .top-products .product .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* -------------------------FOOTER------------------------ */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--text-color);
    background: transparent;
    margin-top: 2rem;
}

footer i {
    margin-left: 0.5rem;
    color: var(--color-dark);
    
}

/* -----------------------------------------MEDIA QUERIES------------------------------------ */
@media screen and (max-width: 1486px) {
    main section.right .cards {
        grid-template-columns: repeat(2, 1fr);
    }        
}

@media screen and (max-width: 1340px) {
    main section.right .insights {
        grid-template-columns: 1fr 1fr;
    } 
    
    main aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
}

@media screen and (max-width: 1305px) {
    main section.right .performances {
        grid-template-columns: 1fr;
    }

    footer {
        display: none;
    }
}

@media screen and (max-width: 1020px) {
    main {
        grid-template-columns: 10rem auto;
    }

    nav .container .search-bar {
        display: none;
    }

    main aside h3 {
        display: none;
    }

    main aside .sidebar a {
        width: 5.6rem;
    } 

    section.right .top .widgets {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    main {
        grid-template-columns: 1fr;
    }

    main aside h3 {
        display: inline-block;
    }

    main aside {
        margin: 0;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        width: 22rem;
        padding-top: 3rem;
        z-index: 3;
        background: var(--color-white);
        box-shadow: 0.5rem 0 2rem var(--color-primary-light);
        display: none;
        animation: showMenu 300ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    main aside #close-btn {
        position: absolute;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        top: 4rem;
        right: 1rem;
        z-index: 4;
        background: transparent;
        color: var(--color-dark);
        cursor: pointer;
    }

    button:hover {
        cursor: pointer;
    }

    nav .container {
        width: 94%;
    }

    nav .container .profile-area {
        gap: 1rem;
    }

    nav .container .profile-area .profile .profile-name {
        display: none;
    }

    nav .container .profile-area button#menu-btn {
        display: inline-block;
        background: transparent;
        color: var(--color-dark);
    }
}

@media screen and (max-width: 660px) {
    main section.right .cards {
        grid-template-columns: 1fr;
    }
    
    main section.right .insights {
        grid-template-columns: 1fr;
    } 
}

@media screen and (max-width: 411px) {
    table > tbody > tr > td > img {
        display: none;
    }
    
}


